

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body{
    height: 100%;
}
#logo{
    line-height: 60px;
    margin-left: 80px;
    display: inline-block;
	cursor: pointer;
	font-size: 30px;
	font-weight: bold;
	color: #e7b324; 
    transition: transform 0.3s ease;
}
#logo:hover{
    transform: scale(1.2); 
}


header {
    position: relative;
    top: 0;
    width: 100%;
    color: #0b0505;
    padding:5px;
    background-color: #fff;
    z-index: 3;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.logo {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    margin-right: auto;
    width: 30%;
}

.btn {
    width: 25%;
    display: flex;
    justify-content: center;
}

.btn button {
    color: #fff;
    background-color: #e7b324;
    margin-left: 45px;
    margin-top: 1px;
    margin-right: 0;
    padding: 10px;
    border-radius: 50px;
    border: none;
    width: 10rem;
    height: 3rem;
    font-size: x-large;
    font-weight: 600;
}



/*---------- SLIDE ANIMATION --------------*/
@keyframes slide_animation {
    0% { left: 100%; } /* Start off-screen to the right */
    10%, 70% { left: 0; } /* Slide into view and pause */
    80%, 100% { left: -100%; } /* Slide off-screen to the left */
}


@-webkit-keyframes slide_animation{
    0% {left:0px;}
    10% {left:0px;}
    20% {left:1200px;}
    30% {left:1200px;}
    40% {left: 2400px;}
    50% {left: 2400px;}
    60% {left: 1200px;}
    70% {left: 1200px;}
    80% {left: 0px;}
    90% {left: 0px;}
    100% {left:0px;}
}


.slider-frame {
    overflow: hidden;
    width: 100%; 
    height: 60vh; 
    position: relative;
}

.slide-images {
    width: 100%;
    height: 600px; 
    position: relative;
    display: flex;
    transition: transform 1s ease; 
}

.img-container {
    width: 100%;
    height: 900px;
    flex: 1;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}
.midtext {
    border-radius: 15px;
}
.midtext h1{
    text-align: center;
    background: linear-gradient(to right, #e7b324, #e8bd48);
    color: white;
    font-size: 4rem;
    padding: 10px 10px;
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.cards{
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrapper {
  display: flex;
  grid-gap: 1rem;
  max-width: 1200px;
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x;
  cursor: grab;
  scroll-behavior: smooth;
  scrollbar-width: none; /* for firefox */
  background: none;
}

.wrapper::-webkit-scrollbar { /* for chrome */
  display: none;
}

.slider {
  min-width: calc(33.33% - .5rem);
  aspect-ratio: 1 / 1;
  /* background: #222; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #1c1b29; */
  border-radius: 20px;
  /* box-shadow: 0 0 30px rgba(0,0,0,0.18); */
  font-size: 2rem;
  scroll-snap-align: start;
  font-weight: 600;
  user-select: none;
}


.card{
    margin-bottom: 20px;
    min-height: 430px;
    max-height: 430px;
    min-width: 390px;
    max-width: 390px;
    border: solid 5px #e7b324;
    background-color: #fff;
    border-radius: 20px;
    flex-direction: column;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}


.container{
    position: relative;
    background-color: #e7b324;
    border: #e7b324 2px solid;
    border-radius: 5px;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}

.details{
    word-wrap: break-word;
    padding: 20px 10px;
}
.details>h3{
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}
.details>p{
    color: #a0a0a0;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}


.container h1{
    color: #fff;
    font-size: 30px;
    padding: 5px;
}

ul{
    display: flex;
    flex-direction: column;
    margin-right:10px;
    padding-left: 30px;
    font-size: 20.5px;
}

li{
    text-align:start;
}