/* General Styles */
.brand-logo,
.waves-effect.waves-light.btn {
    font-weight: 600;
}

.brand-logo {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

/* Additional CSS */
.section.yellow.darken-1 {
    padding: 0;
}

.section .container h2 {
    font-size: 3rem;
}

/* Card Container Styles */
.card-container {
    display: flex;
    overflow-x: auto;
    padding: 20px;
    justify-content: space-between;
    box-sizing: border-box;
}

.card {
    width: 26rem;
    margin-bottom: 20px;
    flex-wrap: wrap;
    flex: 0 0 calc(50% - 20px);
    margin-bottom: 20px;
    border: 2px solid #ccc;
    background-color: #fff;
    box-shadow: 8px 8px 15px #aaa, -8px -8px 15px #fff;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 4px 4px 10px #aaa, -4px -4px 10px #fff;
}

.card-content {
    padding: 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.card-content h5 {
    margin-bottom: 20px;
}

.card-content ul {
    list-style: none;
    padding-left: 0;
    font-size: 17px;
    line-height: 1.6;
}

.card-content li::before {
    content: '•';
    color: #FDD835;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

#card-heading {
    background-color: #FDD835;
    color: white;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
}

@media only screen and (max-width: 992px) {
    .brand-logo {
        transform: scale(1);
    }
}

@media only screen and (max-width: 600px) {
    .brand-logo {
        transform: scale(0.8);
    }
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.container h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .container h2 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 600px) {
    .brand-logo {
        position: absolute;
        left: 90px;
    }
}

@media (max-width: 992px) {
    .slider {
        min-width: calc(50% - .5rem);
    }
}

@media (max-width: 600px) {
    .slider {
        min-width: calc(100% - .5rem);
    }

    .container h1 {
        font-size: 20px;
    }

    ul {
        font-size: 14px;
        padding-left: 10px;
    }
}

@media (max-width: 600px) {
    .card-container {
        display: block;
        overflow-y: auto;
        height: calc(100vh - 120px);
        padding: 20px;
    }

    .card {
        flex: 0 0 100%;
        margin-bottom: 10px;
    }
}

@media (min-width: 601px) {
    .card-container {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        padding: 20px 0;
    }

    .card {
        flex: 0 0 auto;
        margin-right: 20px;
        white-space: normal;
    }
}

/* Increase size of image slider in mobile view */
@media (max-width: 600px) {
    .slider {
        height: 120vh; /* Increase height for mobile */
    }

    .slider .slides {
        height: 100%;
    }

    .slider .slides li {
        height: 200vh; /* Increase height for mobile */
    }

    .slider .slides li img {
        height: 200vh; 
        width: 100%;
        object-fit: cover; 
    }
}

@media only screen and (max-width: 600px) {
    .card-container {
        display: flex;
        flex-direction: column; /* Stack cards vertically */
        overflow-y: scroll; /* Enable vertical scrolling */
        height: 100vh; /* Full viewport height */
        padding: 0; /* Remove padding for mobile view */
    }

    .card {
        height: 100vh; /* Each card covers the full screen */
        margin-bottom: 0; /* Remove space between cards */
    }
}



