/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

/* Reset and font */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Neumorphic background */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0e5ec; /* Neumorphic background */
    text-align: center;
}

/* Container with neumorphic shadow */
.container {
    position: relative;
    max-width: 600px;
    width: 90%;
    margin: 50px auto;
    padding: 0 15px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
}

/* Card panel with inset shadow for neumorphic effect */
.card-panel {
    padding: 30px;
    position: relative;
    background-color: #e0e5ec; /* Neumorphic background */
    border-radius: 20px;
    box-shadow: inset 20px 20px 60px #bebebe,
                inset -20px -20px 60px #ffffff;
}

/* Center text alignment */
.center-align {
    text-align: center;
}

/* Input field styles with neumorphic inset shadow */
.input-field input[type="number"],
.input-field input[type="text"] {
    outline: none;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: none; /* Remove border */
    background-color: #e0e5ec; /* Neumorphic background */
    padding: 10px 15px;
    margin-bottom: 20px;
    box-shadow: inset 5px 5px 10px #bebebe,
                inset -5px -5px 10px #ffffff;
}

/* Focus effect for input fields */
.input-field input[type="number"]:focus,
.input-field input[type="text"]:focus {
    box-shadow: none;
    border-bottom: 2px solid #e0e5ec;
}

/* Label styles */
.input-field label {
    font-size: 14px;
    left: 15px;
    font-weight: 500;
    color: #2e2e2e;
}

/* Button styles with neumorphic shadow */
.btn {
    background-color: #e0e5ec; /* Neumorphic background */
    color: #333;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #bebebe,
                -5px -5px 10px #ffffff;
    font-weight: bold;
}

/* Button hover effect */
.btn:hover {
    background-color: #4070f4; /* Original button color */
    box-shadow: none;
}

.buttonss{
    position: absolute;
    right: 300px;
}

#backButton{
    position: absolute;
    right: -120px;
}

@media (max-width:768px) {
    .buttonss {
        display: flex;
        flex-direction:row; 
    }
}