<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fetch Image from Unsplash</title>
</head>
<body>
    <img id="background-image" src="" alt="Background Image">
    
    <script>
        fetch('https://source.unsplash.com/1536x300/?tennis,hd')
            .then(response => {
                // Check if response is successful
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                // Set the image source to the response URL
                document.getElementById('background-image').src = response.url;
            })
            .catch(error => {
                console.error('There was a problem fetching the image:', error);
            });
    </script>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/csss/register.css">
</head>

<body>
    <!-- <div class="container"> -->
    <!-- <header>Registration</header> -->

    <div class="row">
        <form action="{% url 'save_participant' %}" method="post">
            {% csrf_token %}
            <div class="col s12">
                <div class="card-panel">
                    <span class="title">Personal Details</span>

                    <div class="row">
                        <div class="input-field col s12 m4">
                            <input id="name" type="text" class="validate" name="name" required>
                            <label for="name">Full Name</label>
                        </div>
                        <div class="input-field col s12 m4">
                            <input id="date_of_birth" type="text" class="datepicker" name="date_of_birth" required>
                            <label for="date_of_birth">Date of Birth</label>
                        </div>
                        <div class="input-field col s12 m4">
                            <input id="whatsapp_number" type="number" class="validate" name="whatsapp_number" required>
                            <label for="whatsapp_number">Whatsapp Number</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 m4">
                            <input id="city" type="text" class="validate" name="city" required>
                            <label for="city">City</label>
                        </div>
                        <div class="input-field col s12 m4">
                            <input id="email" type="email" class="validate" name="email" required>
                            <label for="email">Email</label>
                        </div>
                        <div class="input-field col s12 m4">
                            <select id="indian_tree_tshirt-size" name="indian_tree_tshirt-size" required>
                                <option value="" disabled selected>Select T-Shirt Size</option>
                                <option value="small">Small</option>
                                <option value="medium">Medium</option>
                                <option value="large">Large</option>
                                <option value="xlarge">XLarge</option>
                                <option value="xxlarge">XXLarge</option>
                                <option value="no_need">I don't need</option>
                            </select>
                            <label for="indian_tree_tshirt-size">Indian Tree T-Shirt Size</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 m4">
                            <select id="indian_tree_shorts-size" name="indian_tree_shorts-size" required>
                                <option value="small">Small</option>
                                <option value="medium">Medium</option>
                                <option value="small">Large</option>
                                <option value="medium">XLarge</option>
                                <option value="small">XXLarge</option>
                                <option value="medium">XXLarge</option>
                                <option value="medium">I don't need</option>
                            </select>
                            <label for="Shorts-size">Indian Tree Shorts Size:</label>
                        </div>
                        <div class="input-field col s12 m4">
                            <select id="food_preference" name="food_preference" required>
                                <option value="non-vegetarian">Non-Vegetarian</option>
                                <option value="vegetarian">Vegetarian</option>
                                <option value="not-attending">I won't be there for Gala Dinner</option>
                            </select>
                            <label for="food-preference">Gala Dinner Food Preference:</label>
                        </div>
                        <div class="input-field col s12 m4">
                            <select id="stay_arrangement" name="stay_arrangement" required>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                            <label for="accommodation">Need place to stay?</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 m4">
                            <select id="first_event" name="first_event" required>
                                {% for participant in participants %}
                                <option value="{{ participant.name }}">{{ participant.name }} ({{
                                    participant.participant_id }})</option>
                                {% endfor %}
                                <option value="Not Registered">Not Registered</option>
                            </select>
                            <label for="first-event">Your First-Event Partner:</label>
                        </div>
                        <div class="input-field col s12 m4">
                            <select id="second_event" name="second_event" required>
                                {% for participant in participants %}
                                <option value="{{ participant.name }}">{{ participant.name }} ({{
                                    participant.participant_id }})</option>
                                {% endfor %}
                                <option value="Not Registered">Not Registered</option>
                            </select>
                            <label for="Second-event">Your Second-Event Partner:</label>
                        </div>
                    </div>
                    <!-- Rest of the form fields -->

                    <div class="row">
                        <div class="col s12 m4">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
                        </div>
                        <div class="col s12 m4">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- </div> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems, {});

            var datePickers = document.querySelectorAll('.datepicker');
            var instancesDate = M.Datepicker.init(datePickers, {
                format: 'yyyy-mm-dd'
            });
        });
    </script>
</body>

</html>